:root {
    --main: orange;
    --bg: #0B1218;
    --bg-body: #131D28;
}

* {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: lighter;
}

body {
    background: var(--bg-body);
}

.add-task-container .card {
    background: var(--bg);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

.add-task-container form {
    color: white;
}

.add-task-container form label {
    font-weight: normal;
}

.task-heading {
    background: var(--bg);
    padding: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

.task-heading h1 {
    font-weight: lighter;
}

form h3 {
    font-weight: lighter;
}

#userTasks {
    height: 40px;
    border-radius: 5px;
    background-color: white;
    padding: .375rem .75rem;
}

form .btn {
    background: var(--main);
    color: white;
    width: 200px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    font-size: 18px;
}



/* PSEUDOS */


.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(255,165,0,.25);
}

.form-control:focus {
    color: rgb(73, 80, 87);
    background-color: rgb(255, 255, 255);
    border-color: #ced4da;
    outline: 0px;
    box-shadow: none;
}